.mainContainerContact{
    padding: 15px;
    border: 1px solid #ccc;
    margin: 12vh 15px 15px;
    border-radius: 10px;
}

.imagem img{
    border-radius: 50%;
    width: 250px;
}

.iconText a{
    color: #222;
    text-decoration: underline;
    transition: .5s ease all;
}

.iconText a:hover{
    transform: scale(1.05);
    color: black;
}

@media screen and (min-width: 1024px){
    .mainContainerContact{
        display: flex;
    }
    .imagem{
        margin: 10px 30px;
    }
    
    .mainContainerContact .iconText{
      display: flex;
    }

    .mainContainerContact .iconText i {
        margin-right: 10px;
    }

}